/* My Notes =>  */

$PrimaryColor: hsl(229, 23%, 23%);
$ThirdColor: hsl(227, 10%, 46%);
$BackgroundColor: #19a1ad;

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 63%; /* 1rem => 10px */
}
body {
  font-size: 16px; /* Default Font Size => 16px */
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  // background: url(../images/bg-pattern-top.svg),
  //   url(../images/bg-pattern-bottom.svg);
  // background-position: -20vh -30vh, 100vh 30vh;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  background-color: $BackgroundColor;
  color: $PrimaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Images
.backgrounds {
  position: absolute;
  z-index: 9;

  & > * {
    width: 70%;
  }

  & > :first-child {
    position: fixed;
    left: -25%;
    top: -50%;
    z-index: 999;
  }
  & > :last-child {
    position: fixed;
    right: -25%;
    bottom: -50%;
    z-index: 999;
  }
}
@media screen and (max-width: 800px) {
  .backgrounds {
    & > * {
      width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
  .backgrounds {
    & > * {
      width: 100%;
    }
    & > :first-child {
      position: fixed;
      left: -25%;
      top: -15%;
      z-index: 999;
    }
    & > :last-child {
      position: fixed;
      right: -25%;
      bottom: -15%;
      z-index: 999;
    }
  }
}

.card {
  position: relative;
  z-index: 99;
  width: 90%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.top-sec__banner {
  width: 100%;
  height: 150px;
  background: url(../images/bg-pattern-card.svg);
  background-size: cover;
  background-position: center;
}

.top-sec__texts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 6.5rem 3rem 2.5rem;
}
.top-sec__avatar {
  border-radius: 100%;
  border: 5px solid #fff;
  position: absolute;
  top: -50%;
}

.top-sec__name {
  font-size: 1.8rem;

  .top-sec__number {
    color: #828285;
    font-weight: 400;
  }
}
.top-sec__city {
  font-size: 1.5rem;
  font-weight: 400;
  color: #828285;
}

// Bottom Section of Card
.card__bottom-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 0.5rem;
  border-top: 1.5px solid #ececec;
}

.bottom-sec__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.bottom-sec__box__number {
  font-weight: 700;
  font-size: 1.8rem;
}
.bottom-sec__box__text {
  font-size: 1.05rem;
  letter-spacing: 1.5px;
  color: $ThirdColor;
}
